* {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1em
}

body {
  background-color: beige;
}

header {
  background-color: aliceblue;
  padding: 1em;
}

h1 {
 font-weight: bold;    
}

ul {
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  padding: 1em;
}
.seo{
   color:blue; 
}

img {
    height: 200px;
    width: 200px;
}


p {
margin: 1em;
}
h2{
text-align: center;
}

aside {
background-color: blue;
padding: 20px;
display: inline;
}


h3 {
    text-align: center; 
}
.asidecontainer {
    float: right;
    width: 15%;
    margin-right: 25px;
    clear: both;
    display:block;
}

article {
background-color: blue;
margin-bottom: 1em;
padding: 1em;
border: 1em;
width: 70%;
} 


.meeting-image{
    width: 100%;
    height: 700px;
  background-image: url(digital-marketing-meeting.jpg); 
  background-position: center ;
  background-size: cover;
}
section {
display: inline;
}