* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: beige;
}

header {
  background-color: aliceblue;
  padding: 1em;
}

ul {
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  padding: 1em;
}
.seo{
   color:blue; 
}

article {
display: inline-block;    
vertical-align: middle;
margin-right: 500px;
background-color: blue;
}
p {
margin: 1em; 
}
h2{
text-align: center;
}

section {
    padding-bottom: 1em;
}

aside {
position:absolute; 
right: 0;
top: 4px;
width:38%;
margin-top: 13.3%;
background-color: blue;
}

h3 {
    text-align: center;
    text-size-adjust: 
}