* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: beige;
}

header {
  background-color: aliceblue;
  padding: 1em;
}

ul {
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  padding: 1em;
}
.seo{
   color:blue; 
}

article {
height: 200px;
width: 600px;
background-color: blue;
}
p {
margin: 1em; 
}
h2{
text-align: center;
}

section {
    padding-bottom: 1em;
}

aside {
height: 600px;
width: 300px;    
float: right;
}